main {
    display: flex;
    justify-content: center;
    font-size: 1em;
}

main form {
    padding: 10%;
    display: flex;
    flex-direction: column; 
}

main div {
    margin: 1%;
    align-self: flex-start;
}


button {
    background-color: #1259c3;
    color: white;
    width: 100%;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #0022AA;
}

.formulario-login {
    display: flex;
    flex-direction: column;
}

.boton-enviar {
    width: 100%;
}
