main {
  display: flex;
  justify-content: center;
}

main form {
  padding: 10%;
  display: flex;
  flex-direction: column;
}

/* .formulario-registro input{
    width: 80%;
} */

main div {
  margin: 1%;
  align-self: flex-start;
}

label.titulo {
  font-weight: bold;
}

button {
  background-color: #1259c3;
  color: white;
  width: 50%;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #0022aa;
}

.botones {
  width: 100%;
  display: flex;
}

.checkbox1 {
  display: flex;
  justify-content: center;
}
.enlinea {
  display: flex;
  justify-content: center;
}
.checkbox2 {
  display: flex;
  flex-direction: column;
}

/* @media (min-width: 361px) {

} */
