main {
    text-align: center;
    padding: 50px;
}

div {
    margin: 10px;
}

label.titulo{
    font-weight: bold;
}

button {
    background-color: #03264c;
    color: white;
}

.checkbox1 {
    display: flex;
    justify-content: center;
}
.enlinea {
    display: flex;
    justify-content: center;
}
.checkbox2 {
    display: flex;
    flex-direction: column;
}